<app-register></app-register>

<form (ngSubmit)="doLogin()">
  <input type="text" [(ngModel)]="user" name="user" placeholder="Usuario">
  <input type="text" [(ngModel)]="password" name="pass" placeholder="Contraseña">

  <!--
  <select  (change)="selectUniversity($event.target)" >
    <option *ngFor="let u of universities" [value]="u" >{{u}}</option>
  </select>
  -->

  <br>

  <button class="boton" type="submit" id="login">Iniciar sesión</button>
</form>
<br>
<form (ngSubmit)="logout()">
  <button class="boton" type="submit">Cerrar sesión</button>
</form>
{{message}}